/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;0,600;0,800;1,300&display=swap');

/* :root{
--primary:#27ae60;
--black:#444;
--light-color:#777;
--bg-color:#e6e6e6;
--border:.1rem solid rgba(0,0,0,.2);
--box-shadow:.4rem .4rem 1rem #ccc,
-.4rem -.4rem 1rem #fff;
--box-shadow-inset:.4rem .4rem 1rem #ccc inset,
-.4rem -.4rem 1rem #fff inset;
} */

/* -------- Linear-Gradient Example ----------
background: linear-gradient(145deg, var(--lg-clr-1) 0%, var(--lg-clr-2) 100%); */

:root {
    /* --primary:#00aadd;  IMP*/
    /* --primary: #6E03A0; */
    /* --primary: #8a12c2; */
    --primary: #7d1bff;
    --black: #444;
    --black2: #000;
    --light-color: #777;
    --bg-color: #ECF0F3;
    /* --bg-color:#F2F3F7; */
    --border: .1rem solid rgba(0, 0, 0, .2);
    --box-shadow: .4rem .4rem 1rem #ccc,
        -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
        -.4rem -.4rem 1rem #fff inset;

    --text-shadow: .4rem .4rem 1rem #ccc,
        -.4rem -.4rem 1rem #fff;
    --lg-clr-1: #6a67ce;
    --lg-clr-2: #fc636b;
    --flex-2-col: 48%;

    --bg-default: #222327;
	 --primary-white: #fff;
	 --primary-red: #ff3c41;
}

* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    /* font-size: 62.5%; */
    /* font-size: 14px; */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    padding-left: 20rem;
    font-size: 14px;
}

body.active {
    --black: #fff;
    --black2: #fff;
    --light-color: #ddd;
    --bg-color: #222;
    --border: .1rem solid rgba(0, 0, 0, .4);
    --box-shadow: .4rem .4rem 1rem #111,
        -.4rem -.4rem 1rem #333;
    --box-shadow-inset: .4rem .4rem 1rem #111 inset,
        -.4rem -.4rem 1rem #333 inset;
}

section {
    /* min-height: 100vh; */
    padding: 1.5rem;
}

.btn {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow);
}

.btn:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--primary);
}

.heading {
    text-align: center;
    font-size: 2rem;
    color: var(--black);
    text-transform: uppercase;
    /* padding-bottom: 1.5rem; */
}

.heading p {
    display: inline-flex;
}

.heading p::before,
.heading p::after {
    content: '';
    display: block;
    height: auto;
    width: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.heading p::before {
    background-image: url(bg/h-front.svg);
}

.heading p::after {
    background-image: url(bg/h-back.svg);
}

.heading span {
    color: var(--primary);
    text-transform: uppercase;
}

.sub-head {
    /* text-align: center; */
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
    padding-bottom: 1rem;
    margin-top: 15px;
}

/* -------------- Header -------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--bg-color);
    width: 20rem;
    border-right: var(--border);
    height: 100%;
    padding: 15px;
    text-align: center;
}

.header .user img {
    margin: 0.9rem 0;
    border: 2px solid transparent;
    border-radius: 50%;
    height: 13rem;
    width: 13rem;
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
}

.header .user h3 {
    color: var(--black);
    font-size: 1.5rem;
}

.header .user p {
    color: var(--primary);
    font-size: 1.5rem;
}

.header .navbar {
    padding-top: 1rem;
}

.header .navbar a {
    display: block;
    margin: 10px 0;
    padding: .5rem;
    border-radius: 5rem;
    font-size: 1rem;
    box-shadow: var(--box-shadow);
    color: var(--black);
}

.header .navbar a i.fas {
    color: var(--primary);
}

.header .navbar a:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--primary);
}

#menu-btn {
    position: fixed;
    top: 1.5rem;
    left: 2rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    background: var(--bg-color);
    display: none;
}

#menu-btn:hover {
    color: var(--primary);
    box-shadow: var(--box-shadow-inset);
}

#theme-toggler {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1000;
    border-radius: 50%;
    font-size: 1.4rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    background: var(--bg-color);
    padding: 0.6rem;
}

#theme-toggler:hover {
    color: var(--primary);
    box-shadow: var(--box-shadow-inset);
}
.header .user h4 a.typewrite{color: var(--primary);}

/* -------------------- Mobile Navbar ------------------- */

.npmob-nav {
    display: none;
    width: 100%;
      height: 50px;
      background: var(--bg-color);
      position: fixed;
      bottom: 0;
      /* display: flex; */
      /* justify-content: center; */
      /* align-items: center; */
      border-radius: 8px 8px 0 0;
      filter: drop-shadow(4px 8px 13px rgb(0 0 0 / 1));
 }
  .npmob-nav .listWrap {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100%;
 }
  .npmob-nav .listWrap li {
      /* width: 70px; */
      /* height: 70px; */
    width: 20%;
      height: auto;
      position: relative;
      z-index: 1;
 }
  .npmob-nav .listWrap li a {
      text-decoration: none;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      font-weight: 500;
      width: 100%;
 }
  .npmob-nav .listWrap li a:hover {
      text-decoration: none;
 }
  .npmob-nav .listWrap li a i {
      position: relative;
      display: block;
      line-height: 50px;
      text-align: center;
      transition: 0.5s;
      color: var(--primary);
 }
  .npmob-nav .listWrap li a i {
      font-size: 1.3rem;
 }
  .npmob-nav .listWrap li a .text {
      position: absolute;
      /* color: var(--bg-default); */
      color: var(--black);
      font-weight: 400;
      letter-spacing: 0.05em;
      transition: 0.5s;
      transform: translateY(20px);
      opacity: 0;
      z-index: 1;
 }
  .npmob-nav .listWrap li:active a i, .npmob-nav .listWrap li.active a i {
      color: var(--primary-white);
      transform: translateY(-25px);
 }
  .npmob-nav .listWrap li:active a .text, .npmob-nav .listWrap li.active a .text {
      opacity: 1;
      transform: translateY(10px);
 }

 .npmob-nav .listWrap li.indicator-box {
      position: absolute;
      display: inline-flex;
      justify-content: center;
      top: -55%;
      transition: 0.3s;
      z-index: 0;
    /* margin-left: 2.5%; */
 }
 .npmob-nav .listWrap li.indicator-box .indicator {
      width: 3.7rem;
        height: 3.7rem;
        border-radius: 50%;
        border: 7px solid var(--bg-color);
        background: var(--primary);
        transition: 0.3s;
        z-index: 0;
   }
  .npmob-nav .listWrap li .indicator:before, .npmob-nav .listWrap li .indicator:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 20px;
      height: 20px;
      background: blue;
      background: transparent;
 }
  .npmob-nav .listWrap li .indicator:after {
    right: -1px; top: 7px;
    box-shadow: -1px 10px 0 0 var(--bg-color);
    border-bottom-left-radius: 20px;
 }
  .npmob-nav .listWrap li .indicator:before {
    left: -1px; top: 7px;
    box-shadow: 1px 10px 0 0 var(--bg-color);
    border-bottom-right-radius: 20px;
 }
  .npmob-nav .listWrap li:nth-child(1).active ~ .indicator-box {left: 0%;}
  .npmob-nav .listWrap li:nth-child(2).active ~ .indicator-box {left: 20%;}
  .npmob-nav .listWrap li:nth-child(3).active ~ .indicator-box {left: 40%;}
  .npmob-nav .listWrap li:nth-child(4).active ~ .indicator-box {left: 60%;}
 .npmob-nav .listWrap li:nth-child(5).active ~ .indicator-box {left: 80%;}


/* ------------------------ Mobile Head ---- */
.mob-user-head {
    display: none;
    text-align: center;
    width: 100%;
    order: 1;
    justify-content: center;
}

.mob-user-head .logo {
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    box-shadow: var(--box-shadow);
    padding: 0.2rem;
    display: inline-flex;
    margin-right: 1rem;
}

.mob-user-head .logo img {
    height: auto;
    width: 100%;
}

.mob-user-head h3 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 2rem;
    color: var(--black);
}

.mob-user-head h3 span {
    color: var(--primary);
    font-weight: 600;
}

.mob-user-head a {
    font-size: 1.5rem;
    font-weight: 400;
}

/*======================================================================= HOME =--------------------*/

.home {
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    /* text-align: center; */
    flex-wrap: wrap-reverse;
    min-height: 100vh;
}

.home .content {
    /* flex:1 1; */
    flex-basis: var(--flex-2-col);
}

.home .content img {
    margin: 0.5rem 0;
    height: auto;
    /* width: 18rem; */
    width: 60vh;
    filter: drop-shadow(0px 3px 2px rgb(0 0 0 / 0.3));
}

.home .content h3 {
    font-size: 1.4rem;
    color: var(--black);
    line-height: 1.1;
    font-weight: 400;
}

.home .content h4 {
    font-size: 2.5rem;
    color: var(--black);
    line-height: 1.1;
    font-weight: 600;
}

.home .content .twrite-box {
    margin-top: 1rem;
}

.home .content a.typewrite {
    font-size: 2rem;
    color: var(--primary);
    padding-bottom: .5rem;
}

.home .content p {
    font-size: 1.1rem;
    color: var(--light-color);
    padding-bottom: .5rem;
}

.home .share-box {
    border-radius: .5rem;
    /* box-shadow: var(--box-shadow); */
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.home .share-box .share {
    margin-bottom: 0.5rem;
}

.home .share a {
    height: 3rem;
    width: 2.3rem;
    line-height: 3rem;
    /* box-shadow: var(--box-shadow); */
    /* margin:0 4px; */
    font-size: 1.5rem;
    color: var(--black);
    border-radius: .5rem;
}

.home a.cvbtn,
.home a.contbtn {
    width: 46%;
    padding: 10px 5px;
    /*border: 1px solid var(--primary);*/
}

/* .home a.cvbtn:hover, .home a.contbtn:hover{ margin-left: 0rem;} */
.home a.cvbtn i,
.home a.contbtn i {
    font-size: 1.4rem !important;
    margin-left: 4px;
}

.home .share a:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--primary);
}

/*======================================================================= About Us =--------------------*/

.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 2rem;
}

.about .row .box-container {
    /* flex:1 1 40rem; */
    flex: 1 1;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.about .row .box-container .box {
    flex-basis: 48%;
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    align-self: center;
}

.about .row .box-container .box h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
    margin-bottom: 8px;
    padding-right: 15px;
    color: var(--black);
}

.about .row .box-container .box h5 a {
    color: inherit;
    text-transform: none;
}

.about .row .box-container .box h5:hover p {
    color: var(--primary);
}

.about .row .box-container .box h5 p {
    /* box-shadow: var(--box-shadow); */
    padding: 3px 12px 3px 0;
    font-weight: 600;
}

.about .row .content {
    flex: auto;
}

.about .row .content h3 {
    font-size: 2.5rem;
    color: var(--black);
    line-height: 1.8;
}

.about .row .content h3 span {
    color: var(--primary);
}

.about .row .content p {
    font-size: 1.1rem;
    color: var(--light-color);
    line-height: 1.3;
    padding: 0.4rem 0;
}

.about .row:nth-child(3) {
    padding-top: 2rem;
}

.about .row .progress {
    /* flex:1 1 40rem; */
    flex: 1 1;
}

.about .row .progress h3 {
    color: var(--black);
    font-weight: normal;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .row .progress .bar {
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    height: 15px;
    padding: 4px;
    margin: 0 0 15px 0;
}

.about .row .progress .bar span {
    display: block;
    height: 100%;
    background: var(--primary);
    border-radius: 5rem;
}

.about a.cvbtn,
.about a.contbtn {
    border: 1px solid var(--primary);
}

.about a.cvbtn:hover,
.about a.contbtn:hover {
    color: var(--primary);
}

.about .share {
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
    text-align: center;
    margin-top: 1.5rem;
}

.about .share a {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    box-shadow: var(--box-shadow);
    margin: 0 4px;
    font-size: 1.5rem;
    color: var(--black);
    border-radius: .5rem;
}

.about .share a.cvbtn,
.about .share a.contbtn {
    padding: 8px 10px;
    font-size: 1.2rem !important;
    background: var(--primary);
    color: #fff;
}

.about .share a.cvbtn:hover,
.about .share a.contbtn:hover {
    background: none;
    color: var(--primary);
}

.about .share a.cvbtn i,
.about .share a.contbtn i {
    font-size: 1.5rem !important;
    margin-right: 4px;
}

.about .share a:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--primary);
}

/*======================================================================= Resume (Resume) =--------------------*/

.resume-box .row {
    display: flex;
    flex-flow: row;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 1.8rem;
    margin-bottom: 1.5rem;
}

.resume-box .row .progress {
    /* flex:1 1 40rem; */
    flex-basis: var(--flex-2-col);
}

.resume-box i {
    color: var(--primary);
}

.resume-box .row .progress h3 {
    color: var(--black);
    font-weight: normal;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resume-box .row .progress .bar {
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    height: 12px;
    padding: 4px;
    margin: 0 0 0.6rem 0;
}

.resume-box .row .progress .bar span {
    display: block;
    height: 100%;
    background: var(--primary);
    border-radius: 5rem;
}

/* ---------------- Experence --------*/

.resume-box .row .work {
    padding: 10px;
    flex-basis: var(--flex-2-col);
}

.resume-box .row.pro-skill-row {
    justify-content: center;
    gap: 2em;
    align-items: center;
    text-align: center;
}

.resume-box .pro-skill-row .pskill-textbox {
    color: var(--black);
}

.resume-box .pro-skill-row .pskill-textbox h5 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.resume-box .pro-skill-row .pskill-textbox ul {
    list-style: none;
    font-size: 1.2em;
}

.resume-box .pro-skill-row .pskill-textbox ul li {
    padding: 0.3em 0.9em;
}

.resume-box .pro-skill-row .pskill-textbox ul.degn-box li {
    background: linear-gradient(#323232 0 0) left / var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
    border-radius: 15rem 0 0 15rem;
}

.resume-box .pro-skill-row .pskill-textbox ul.degn-box li:hover {
    --p: 100%;
    color: #fff;
    background-position: right;
}

.resume-box .pro-skill-row .pskill-textbox ul.code-box li {
    background: linear-gradient(var(--primary) 0 0) right / var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
    border-radius: 0 15rem 15rem 0;
}

.resume-box .pro-skill-row .pskill-textbox ul.code-box li:hover i,
.resume-box .pro-skill-row .pskill-textbox ul.code-box li:hover {
    --p: 100%;
    color: #fff;
    background-position: left;
}

/* ----------------------- Diagram -- START -------------- */
.resume-box .pro-skill-row .digram-box {
    flex-basis: 24%;
}

.digram-box .circle-diagram {
    --degree: calc(360deg / 100 * var(--percent));
    --hue: calc(360 / 100 * red);
    /* --hue: calc(360 / 100 * var(--percent)); */
    --accent-color: hsl(var(--hue), 100%, 50%);
    font-size: 1rem;
    width: 100%;
    max-width: 15rem;
    aspect-ratio: 1;
    position: relative;
    border-radius: 50%;
    filter: drop-shadow(0 0.5rem .5rem rgb(0 0 0 / .5));
    margin: 0 auto;
    display: grid;
    place-items: center;
    font-weight: 700;
    font-family: system-ui, sans-serif;
    color: var(--primary);
    /* color: var(--accent-color); */
    text-shadow: 0 0 5px rgb(0 0 0);
    cursor: pointer;
}

.digram-box .circle-diagram span {
    font-size: 1.6em;
    font-weight: 500;
    margin-right: 2.4em;
}

.digram-box .circle-diagram::before,
.circle-diagram::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.digram-box .circle-diagram::before {
    inset: 0.6em;
    background-color: var(--primary);
    /* background-color: var(--accent-color); */
    background-image:
        radial-gradient(circle at calc(50% - 0.25rem) calc(50% + 0.25rem),
            rgb(0 0 0 / .25) 25%,
            transparent calc(25% + 0.5rem)),
        conic-gradient(rgb(255 255 255 / .25) 0deg,
            rgb(0 0 0 / .25) var(--degree)),
        conic-gradient(at calc(50% - 0.4rem) calc(50% + 0.4rem),
            transparent var(--degree),
            rgb(0 0 0 / .25) calc(var(--degree) + 5deg));
}

.digram-box .circle-diagram::after {
    inset: 0;
    background-color: rgb(50 50 50);
    /* background-image: radial-gradient(circle, #ffbf2d, #ac119c); */
    background-image: linear-gradient(transparent, rgb(0 0 0 / .5));
    --mask1: radial-gradient(black 25%, transparent calc(25% + 1px));
    --mask2: conic-gradient(transparent var(--degree), black calc(var(--degree) + .5deg));
    -webkit-mask-image: var(--mask1), var(--mask2);
    mask-image: var(--mask1), var(--mask2);
}

/* ----------------------- Diagram -- END -------------- */
/* -----------------------------------End */
.resume-box .row .work small {
    display: block;
    opacity: 0.7;
    font-size: 1rem;
}

.resume-box .row .work small span {
    opacity: 0.7;
    font-size: 1rem;
}

.resume-box .row .work ul li p {
    display: block;
    color: #7e7e7e;
    /* opacity: 0.8; */
    font-size: 1rem;
}

.resume-box .row .work ul li p small {
    display: inline-block;
    margin-left: 6px;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 600;
    color: var(--black2);
    ;
}

.resume-box .row .work ul li {
    position: relative;
    margin-left: 15px;
    /* padding-left: 25px; */
    /* padding-bottom: 15px; */
    padding: 10px 0 10px 25px;
}

.resume-box .row .work ul {
    list-style-type: none;
}

.resume-box .row .work ul li:hover {
    box-shadow: var(--box-shadow);
}

.resume-box .row .work ul li:hover::before {
    animation: circle 1.2s infinite;
}

.resume-box .row .work ul li:hover span {
    color: var(--primary);
}

@keyframes circle {
    from {
        box-shadow: 0 0 0 0px var(--primary);
    }

    to {
        box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
    }
}

.resume-box .row .work ul li:first-of-type::before {
    width: 10px;
    height: 10px;
    left: 2px;
}

.resume-box .row .work ul li:last-of-type {
    padding-bottom: 3px;
}

.resume-box .row .work ul li:last-of-type::after {
    border-radius: 1.5px;
}

.resume-box .row .work ul li::before,
.resume-box .row .work ul li::after {
    content: "";
    display: block;
    position: absolute;
}

.resume-box .row .work ul li::before {
    width: 7px;
    height: 7px;
    border: 3px solid #ffffff;
    background: var(--primary);
    border-radius: 50%;
    left: 3px;
    z-index: 1;
    top: 8px;
}

.resume-box .row .work ul li::after {
    width: 3px;
    height: 100%;
    background: #ffffff;
    left: 8px;
    top: 0;
}

.resume-box .row .work ul li span {
    transition-duration: 0.3s;
    font-size: 1.2rem;
    color: var(--black);
}


/* --------- Languege Box ---------- */
.resume-box .lang-box h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
    padding-right: 15px;
    border-radius: 0.3rem;
    color: var(--black);
    box-shadow: var(--box-shadow);
}

.resume-box .lang-box h5 p {
    padding: 4px 12px;
    color: var(--black);
}

.resume-box .lang-box h5 i {
    display: inline-block;
    background: var(--primary);
    width: 2rem;
    height: 6px;
    border-radius: 9px;
}

.resume-box .lang-box h5 i.diseble {
    background: #ccc;
}


/*======================================================================= PORTFOLIO =--------------------*/

/* =================== ADD NEW CSS For Gallary ------------- */

.gallery {
    padding-bottom: 20px;
}

.gallery .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style: none;
}

.gallery .controls .buttons {
    height: auto;
    width: auto;
    background: #fff;
    color: #666;
    font-size: 1rem;
    /* line-height: 28px; */
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 7px;
    margin: 6px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    text-align: center;
}

.gallery .controls #morePro {
    border: 1px solid var(--primary);
    padding: 8px 20px;
    font-weight: 600;
}

.gallery .controls .buttons:hover,
.gallery .controls .buttons.active {
    background: var(--primary);
    color: #fff;
}

.gallery .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .image {
    height: 150px;
    width: 230px;
    overflow: hidden;
    border-radius: 6px;
    /* border:15px solid #fff; */
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    margin: 8px;
}

.gallery .image-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .image-container .image:hover img {
    transform: scale(1.4);
}

/* ----------------- Behance Box */
.portfolio .beport-box {
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    display: none;
}

.portfolio .beport-box .beport-headbox {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    /* margin-bottom: 0.8em; */
    font-size: 1rem;
    width: 48%;
    color: var(--black);
}
.portfolio .beport-box .beport-headbox a {
    font-size: 1.5rem;
    font-weight: 600;
}
.portfolio .beport-box .beport-headbox img.icon {
    height:auto;
    width: 30%;
}

/*======================================================================= CONTACT FORM =--------------------*/

.contact form {
    margin: 1rem auto;
    max-width: 70rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
}

.contact form .box {
    padding: 0.6rem 1rem;
    width: 100%;
    background: none;
    color: var(--black);
    font-size: 1.1rem;
    text-transform: none;
    margin: .7rem 0;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.contact form textarea {
    height: 5rem;
    resize: none;
}

.contact form .box:focus {
    box-shadow: var(--box-shadow-inset);
}

.credits {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    border-top: var(--border);
    color: var(--black);
}

.credits span a {
    color: var(--primary);
}

/* .credits span a:hover {
    background-color: var(--primary);
    color: white;
    padding: 5px;
} */

/*============================== media queries =============================== */

@media (max-width:991px) {

    html { font-size: 55%;}
    body {padding-left: 0;}

    .header {left: -110%;}
    .header.active {left: 0%; transition: .4s linear;}
    #menu-btn { display: initial;}

}

@media (max-width:768px) {
    html {font-size: 90%;}

    section { min-height: auto; padding: 1rem;}
    .mob-user-head {display: block;}

    #menu-btn, .header .navbar,
    .user {display: none !important;}

    /* .home .content {flex: auto;} */
    .header {
        left: 0;
        top: unset;
        bottom: 0;
        width: 100%;
        height: auto;
        padding: 0;
        box-shadow: 0px 1px 10px 0px #000;
    }

    /* .header .navbar {
        padding-top: 0.4rem;
        display: flex;
    } */

    /* .header .navbar a {
        display: inline-flex;
        flex-flow: column;
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 0;
        padding: .5rem;
        flex: auto;
        border-radius: 0.5rem;
        margin: 0 0.25rem 0.25rem 0.25rem;
        box-shadow: var(--box-shadow);
        /* background-color: var(--bg-color); *
        transform: translate(0, 1rem);
    }

    .header .navbar a i.fas {
        font-size: 1rem;
    }

    .header .navbar a:hover {
        box-shadow: var(--box-shadow-inset);
        color: var(--primary);
        transform: translate(0, 0);
    } */

    .npmob-nav {display: flex;}
    /* .header .navbar a */

    .heading {font-size: 1.5rem;}

    .home {padding-bottom: 5rem;}
    .home .content h4,
    .home .content p,
    .home .content.hero-img {
        display: none !important;
    }

    .home .share a {
        width: 2.5rem;
    }

    .about .row .box-container .box {
        flex-basis: 100%;
    }

    .about .row .box-container .box:nth-child(2) {
        display: none;
    }

    .gallery .image-container .image {
        height: 90px !important;
        width: 45% !important;
        margin: 5px !important;
    }

    .proBar-round {
        max-width: 25% !important;
    }

    .resume-box .row .progress,
    .resume-box .row .work,
    .home .content {
        flex-basis: 100% !important;
    }
    .resume-box .pro-skill-row .pskill-textbox ul li { padding: 0.3em 0.2em;}
    
    .proBar-inbox {
        flex-basis: 45% !important;
    }

    .resume-box .row.pro-skill-row {
        gap: 0.5em !important;
        align-items: flex-start !important;
    }

    .pro-skill-row .digram-box {
        order: -1;
        flex-basis: 100% !important;
    }

    .pro-skill-row .digram-box .circle-diagram {
        margin: 0 auto;
        width: 44%;
    }

    .pro-skill-row .pskill-textbox,
    .pro-skill-row .pskill-textbox {
        flex-basis: 48% !important;
        font-size: 0.8em;
    }
    .portfolio .beport-box .beport-headbox img.icon {width: 60%;}

}

/* @media (max-width:450px){
} */

/* ==================== Media Query END ============ */


